.aboutus-1{
    height: 500px;
    width: 100%;
    border: 0px solid black;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.aboutus-matter-1{
    height: 480px;
    width: 680px;
    border: 0px solid red;
    float: left;
}
.head1{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    color: brown;
    font-size: 40px;
}
p{
    text-align: center;
    font-size: 20px;
    font-family: Georgia, serif;
}
.aboutus-img-1{
    height: 480px;
    width: 550px;
    border: 0px solid red;
    float: left;
}
.aboutus-2{
    height: 200px;
    width: 100%;
    border: 0px solid black;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.aboutus-img-1 img {
    width: 550px;
    height: 480px;
    border-radius: 80%;
    box-shadow: 10px 10px 12px grey;
}
