<div class="aboutus-1">
    <div class="aboutus-img-1"><img [src]="abg"></div>
    <div class="aboutus-matter-1">
        <h1 class="head1"><b>BUSY BEAN CAFE!!</b></h1><hr width="70%">
        <p>Cafe Busy Bean isn't “just another coffee shop”. What makes us unique is our distinct appreciation for 
            quality--high quality coffee, high quality food and high quality experiences. We are true believers in the 
            power of a great cup of coffee, which can spark meaningful conversations and lead to exciting new prospects. </p>
        <p>We are also firm unrelenting crusaders of homemade food and freshly baked goods, and purveyors of the 
            delicious flavors that result from natural ingredients. and freshly baked goods.  For these reasons, 
            Busy Bean serves only the highest quality foods (free from preservatives) and the most refined coffee
             based beverages.</p>     
        <p>As experts in the industry, we have sourced a selection of the world’s finest coffee, in an effort to 
            provide each visitor with a lasting taste experience. </p>     
    </div>
</div>
<div class="aboutus-2">
    <div class="aboutus-matter-2">
        <p>This, combined with the state of the art 
            equipment used to prepare our coffee (which includes the Italian iconic and influential 1961 Faema 
            “E61 Legend” Espresso machine) allows us to compete with some of the most acclaimed coffee and baked good 
            connoisseurs worldwide.</p>
        <p>While our products are high end, our atmosphere is contrastingly relaxed.  We aim to provide a
            space for our customers to socialize and hang out, free from the pressure of everyday life, be it alone 
            or with family and friends. </p>

    </div>
</div><hr>

