<body>
    
<div class="bg-text">
  <h2 style="font-family: 'Times New Roman', Times, serif">DAY STARTS AFTER COFFEE</h2>
  
<hr>
  <div class="forms-career">
    <form action="">
      <label for="fname">Name :</label> &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;
      <input type="text" id="fname" name="fname" placeholder="Name" size="40"><br><br>
      <label for="email">Email :</label>  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;
      <input type="text" id="email" name="email" placeholder="Email address" size="40"><br><br>
      <label for="mobileno">Mobile No :</label>  &nbsp; &nbsp; &nbsp;  &nbsp;
      <input type="text" id="mobileno" name="mobileno" placeholder="Mobile number" size="40"><br><br>
      <label for="food">Food Item :</label> &nbsp;
      <select id="food" name="food">

        <option value="Americano"></option>
        <option value="Cappuccino">Cappuccino</option>
        <option value="Black coffee">Black coffee</option>
        <option value="Iced coffee">Iced coffee</option>
        <option value="Dalgona">Dalgona</option>
        <option value="Latte">Latte</option>
        <option value="Mocha latte">Mocha latte</option>
        <option value="Espresso">Espresso</option>
        <option value="Brownie cake">Brownie cake</option>
        <option value="Chocolate muffins">Chocolate muffins</option>
        <option value="Cheese cake">Cheese cake</option>
        <option value="Apple caramel cake">Apple caramel cake</option>
        <option value="Chocolate donuts">Chocolate donuts</option>
        <option value="Croissant">Croissant</option>
        <option value="Cranberry almond bread">Cranberry almond bread</option>
        <option value="Coffee walnut cake">Coffee walnut cake</option>

      </select> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
      <label for="quantity"> Item Quantity :</label>  &nbsp; 
      <input type="text" id="quantity" name="quantity" placeholder="Quantity"><br><br>
      <label for="address">Address :</label>  &nbsp; &nbsp;
      <textarea id="address" name="address"></textarea><br><br>
      <button class="btn btn-primary btn-purchase" type="button" >Submit</button>
      <!-- <input type="submit" value="Submit">(click)='callfun()' -->

      
    </form> 
    
  </div>
</div>



</body>
