
<div class="aboutus-3">
    <div class="aboutus-matter-3">
        <h1 class="head1"><b>CONTACT INFORMATION </b></h1><hr width="70%">
        
        <H2>BUSY BEAN CAFE</H2><hr width="70%">
        <div class="location">
            &nbsp; &nbsp; <span class="fa fa-phone pin">&nbsp; 8074217055</span><br>
            &nbsp; &nbsp; <span class="fa fa-envelope pin">&nbsp; busybeancafe@gmail.com</span><br>
            &nbsp; &nbsp; <span class="fa fa-map-marker pin">&nbsp; No 19, Victoria Street,Newyork,USA - 600026</span><br>
        </div>

        
    </div>
    <div class="aboutus-img-2"><img [src]="cbg"></div>
</div><br><hr>