
<p> Coffee</p>
<div class="menu-items">
    <div class="item1"><img [src]="url11">
    <div class="item-name">
        <p><b>Cappuccino &nbsp; $8</b></p>
        <p><button type="button" class="btn btn-outline-dark">Buy Now</button></p>
    </div>
    </div>
    <div class="item1"><img [src]="url12" >
    <div class="item-name">
        <p><b>Black coffee &nbsp; $8</b></p>
        <p><button type="button" class="btn btn-outline-dark">Buy Now</button></p>
    </div>
    </div>
    <div class="item1"><img [src]="url13" >
    <div class="item-name">
        <p><b>Dalgona coffee &nbsp; $9</b></p>
        <p><button type="button" class="btn btn-outline-dark">Buy Now</button></p>
    </div>
    </div>
    <div class="item1"><img [src]="url14" >
    <div class="item-name">
        <p><b>Espresso &nbsp; $9</b> </p>
        <p><button type="button" class="btn btn-outline-dark">Buy Now</button></p>
    </div>
    </div>
    </div>
<div class="menu-items">
    <div class="item1"><img [src]="url15" >
    <div class="item-name">
        <p><b>Latte &nbsp; $10</b> </p>
        <p><button type="button" class="btn btn-outline-dark">Buy Now</button></p>
    </div>
    </div>
    <div class="item1"><img [src]="url16" >
    <div class="item-name">
        <p><b>Americano &nbsp; $10</b></p>
        <p><button type="button" class="btn btn-outline-dark">Buy Now</button></p>
    </div>
    </div>
    <div class="item1"><img [src]="url17" >
    <div class="item-name">
        <p><b>Mocha latte &nbsp; $11</b></p>
        <p><button type="button" class="btn btn-outline-dark">Buy Now</button></p>
    </div>
    </div>
    <div class="item1"><img [src]="url18" >
    <div class="item-name">
        <p><b>Iced coffee &nbsp; $11</b> </p>
        <p><button type="button" class="btn btn-outline-dark">Buy Now</button></p>
    </div>
    </div>
</div>

<hr>
<p>Bakery items</p>
<div class="menu-items">
    <div class="item1"><img [src]="url19" >
    <div class="item-name">
        <p><b>Apple caramel cake &nbsp; $4</b></p>
        <p><button type="button" class="btn btn-outline-dark">Buy Now</button></p>
    </div>
    </div>
    <div class="item1"><img [src]="url20" >
    <div class="item-name">
        <p><b>Chocolate muffins &nbsp; $4</b></p>
        <p><button type="button" class="btn btn-outline-dark">Buy Now</button></p>
    </div>
    </div>
    <div class="item1"><img [src]="url21" >
    <div class="item-name">
        <p><b>Coffee walnut cake &nbsp; $5</b></p>
        <p><button type="button" class="btn btn-outline-dark">Buy Now</button></p>
    </div>
    </div>
    <div class="item1"><img [src]="url22" >
    <div class="item-name">
        <p><b>Cheese cake &nbsp; $5</b></p>
        <p><button type="button" class="btn btn-outline-dark">Buy Now</button></p>
    </div>
    </div>
</div>

<div class="menu-items">
    <div class="item1"><img [src]="url23" >
    <div class="item-name">
        <p><b>Croissant &nbsp; $2</b>  </p>
        <p><button type="button" class="btn btn-outline-dark">Buy Now</button></p>
    </div>
    </div>
    <div class="item1"><img [src]="url24" >
    <div class="item-name">
        <p><b>Brownie cake &nbsp; $2</b> </p>
        <p><button type="button" class="btn btn-outline-dark">Buy Now</button></p>
    </div>
    </div>
    <div class="item1"><img [src]="url25" >
    <div class="item-name">
        <p><b>Cranberry bread &nbsp; $3</b>  </p>
        <p><button type="button" class="btn btn-outline-dark">Buy Now</button></p>
    </div>
    </div>
    <div class="item1"><img [src]="url26" >
    <div class="item-name">
        <p><b>Chocolate donuts &nbsp; $3</b></p>
        <p><button type="button" class="btn btn-outline-dark">Buy Now</button></p>
    </div>
    </div>
</div>
<hr>

